:root {
    --primary-color: #201b11;
    --secondary-color: #bf7f11;
    --accent1-color: #454346;
    --accent2-color: #f2da88;
}

/* Color palette link: https://coolors.co/201b11-243036-454346-bf7f11-f2da88 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif; /* Set the default font for the body */
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
    gap: 30%;
    margin-top: 10px;
    color: var(--primary-color);
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 21px;
    margin-bottom: 0.5rem;
}

header nav a {
    text-decoration: none;
    color: var(--accent1-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: var(--accent1-color);
}

section h2 {
    color: var(--secondary-color);
}

article {
    background-color: var(--accent2-color);
    opacity: 0.85;
    max-width: 100%;
    height: 120px;
}

main, footer, header {
    margin-left: 2rem;
    margin-right: 2rem;
}

section p {
    max-width: 100%;
}

main .adventures h2 {
    text-align: center;
    margin-top: 1rem;
}

main section img {
    width: 60%;
    height: auto;
    max-width: 19%;
}

main section div {
    display: flex;
    gap: 15px;
}

main .adventures {
    display: grid;
    width: 100%;
    gap: 20px;
}

footer {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-content: end;
    gap: 29%;
}
.contact-footer{
    gap: 19%;
}
footer p a{
    text-decoration: none;
}

/* Class Selectors */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 40%;
    margin: 0rem 0 0 5rem;
    right: 7%;
}

.hero article p {
    margin-left: 1rem;
    margin-top: 1rem;
    width: 80%;
}

.hero h1 {
    background-color: var(--accent1-color);
    position: absolute;
    bottom: 70%;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
}

nav a img {
    width: 30px;
}

.hero article img {
    width: 120px;
    float: right;
    margin: 0.8rem 1rem;
    padding: 0.2rem;
}

main .history_div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 2rem;
}

main .history_div div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

main .history_div div img {
    width: 100%;
    max-width: 80%;
    height: auto;
}

main section .first_paragraph,
main section .second_paragraph {
    width: 45%;
    flex: 1;
    text-align: justify; /* Set text alignment for both paragraphs */
}

main .adventures div figure img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* Contact Information Section */
.contact-section {
 display: flex;
 background-color: #cccccc33 ;
 border-radius: 4px;
 justify-content: center;
 gap:20%;
 margin-top: 10px;
}

.contact-box-dark {
color: var(--secondary-color);
 
}
.contact-box-dark , .contact-box-light{
  
       display: grid;
}
.contact-box-light {

color: var(--secondary-color);
height: 60%;
  
}
.contact-box-dark h1{
    color: var(--primary-color);
}
.contact-box-light h3, .contact-box-light iframe{
    margin-left: 20px;
}
.contact-box-dark h3{
    margin-top: -20px;
}
iframe{
    width:80%;
    height:93%;
}
/* Team Section */
.team-section {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 10px;
  padding: 20px;
  text-align: center; 
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center; 
 
}

.team-member img {
  width: 100%; 
  height: auto; 
  border-radius: 10%;
}

#team-member1 {
  width: 60%; /* Adjust the size of team-member1 */
}

#team-member1 img {
  width: 170%; 
  height: 170%; 
} 
.team-member p{
    color: var(--secondary-color);
}



/* Contact Form Section */
.form-section {
  background-color: #f0f0f0;
  padding: 30px;
  border-radius: 4px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;

}

.form-input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-input-full {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc5f;
}
.main-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.newsletter-checkbox {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
    display: flex;           
    justify-content: center;
    margin-top: 20px;       
}


.submit-button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #333;
  color: white;
  border: none;

}






